.homePgImg{
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    width: 500px !important;
    height: 600px !important;
}

.homeTitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
}

.homeDesc{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    color: gray;
}

.homeCard{
    margin-top: 100px !important;
    background-color: white !important;
    border-color: white !important;
}

.learnBtn{
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 30px !important;
}