.regForm{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    background-color: white;
    border-radius: 5px;
}

.regFormTitle{
    margin-top: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px !important;
}

.regFormSubTitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px !important;
}

.regFormSubText{
    font-family: 'Barlow', sans-serif;
    font-size: 18px !important;
}

.regFormDayTitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px !important;
    text-align: center;
}

.formInputBox{
    margin-bottom: 20px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px !important;
}

.mb-3{
    font-family: 'Barlow', sans-serif;
    font-size: 16px !important;
    margin-bottom: 40px !important;
}

.confirmRegBtn{
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    font-family: 'Barlow', sans-serif;
    font-size: 20px !important;

}
