#navbar{
    background-color: rgb(204, 204, 204) !important;
    font-family: 'Barlow', sans-serif;
    font-size: 20px !important;
}

.regBtn{
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}